:root {
    --main-bg: 30, 30, 47;
    --panel-bg: 44, 44, 58;
    --hover-bg: 58, 58, 74;
    --input-focus-bg: 38, 38, 58;
    --accent: 79, 163, 209;
    --accent-hover: 60, 139, 184;
    --text: 240, 240, 240;
    --mini-text: 128, 128, 128;
    --bad: 161, 0, 0;
    --bad-hover: 128, 0, 0;
    --good: 0, 161, 0;
    --good-hover: 0, 128, 0;
}
